main{
    height: 100vh;
    background-color: black;
}

#infoTable{
    /* float: left; */
    font-family: fantasy;
    font-size: 1em;
    padding: 2em;
    border: 1em solid black;
    background-color: salmon;
}
th{
    font-size: 1em;
    line-height: 2em;
    padding: .25em;
    border: 1px solid black;
    background-color: salmon);
}
    
    
td{
    font-size: 1em;
    line-height: 2em;
    padding: .25em;
    border: 1px solid black;
    background-color: rgb(224, 45, 99);
}
form{
    
}